#menu .menu-items {
  display: flex;
    background-color: bisque;
}


#menu .menu-items li {
  flex: 1;
    list-style: none;
    color: black;
    font-weight: 500;
    padding: 30px;
    font-size: 1.2em;
}

#menu .menu-items li:hover {
    color: dodgerblue;
    transition: 0.5s;
    cursor: pointer;
    
}



.mySlides {display:none;}